
main{
    margin: auto;
    width: 700px;
    height: auto;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
    display: block;
}

.MeioDaPagina{
    size: 18px;
}


